/* td:nth-child(1) {
    width:5%
  }
  
  td:nth-child(2) {
    width:10%
  } 

  td:nth-child(8) {
    width:80%
  } */

.sticky {
  position: relative;

  background-color: #007bff;
  display: block;
  width: 400px;
  left: 100px;
  height: 100px;
}

span {
  position: relative;
  color: #000;
  font-size: 15px;
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #f3f3f3;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 3px;
  min-height: 33px;
}
